.fcontainer{
    display: flex;
    border: 2px solid green;
    height: 45vh;
    /* flex-direction: column; */
    justify-content: center;
    /* justify-content: start;     */
    /* justify-content: end; */
    /* justify-content:space-around ; */
    /* justify-content:space-between ; */
    /* justify-content:space-evenly ; */
    /* flex-wrap: wrap; */
    flex-wrap: nowrap;
    /* flex-wrap: wrap-reverse; */


    align-items: center;
    /* align-items: flex-start; */
    /* align-items: flex-end; */


    
}
*{
    margin: 2px solid black;
}

.fitem{
    background-color: red;
    border: 2px solid black;
    margin: 12px;
    width: 122px;
    height: 122px;
}
